<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />

    <link rel="stylesheet" type="text/css" href="crear-empleado.component.css" />
    <title>Empleado</title>
</head>

<body>
    <div class="imag">
        <h2>Crear Empleado</h2>
        <form [formGroup]="fgValidador" method="POST" (ngSubmit)="GuardarEmpleado()">
            <div class="form-group" class="col-md-11">
                <label for="Nombres">Nombres</label>
                <input formControlName="Nombres" type="text" class="form-control" placeholder="Nombres" id="Nombres" />
            </div>

            <div class="form-group" class="col-md-11">
                <label for="Apellidos">Apellidos</label>
                <input formControlName="Apellidos" type="text" class="form-control" placeholder="Apellidos"
                    id="Apellidos" />
            </div>
            <div class="form-group" class="col-md-11">
                <label for="Email">Email</label>
                <input formControlName="Email" type="text" class="form-control" placeholder="Email" id="Email"
                    required />
            </div>
            <tr>
                <td>
                    <div class="form-group">
                        <label for="Telefono">Celular</label>
                        <input formControlName="Telefono" type="text" class="form-control" placeholder="Celular"
                            id="Telefono" required />
                    </div>
                </td>

                <td>
                    <div class="form-group">
                        <label for="Edad">Edad</label>
                        <input formControlName="Edad" type="text" class="form-control" placeholder="Edad" id="Edad" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <label for="Direccion">Dirección</label>
                        <input formControlName="Direccion" type="text" class="form-control" placeholder="Dirección"
                            id="Direccion" />
                    </div>
                </td>

                <td>
                    <div class="form-group">
                        <label for="Sueldo">Sueldo</label>
                        <input formControlName="Sueldo" type="number" class="form-control" placeholder="Sueldo"
                            id="Sueldo" />
                    </div>
                </td>
            </tr>

            <div class="form-group">
                <button [disabled]="!fgValidador.valid" class="btn btn-primary" type="submit">
                    Aceptar
                </button>
            </div>
        </form>
    </div>
</body>

</html>