<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Registration Form</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="identificacion.component.css">
</head>

<body>
    
    <div class="container" id="registration-form">
        <div class="image"></div>
        <div class="frm">
            <h1>Iniciar Sesión</h1>
            <form [formGroup]="fgValidador" (ngSubmit)="IdentificarUsuario()">                             
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input formControlName="usuario" type="email" class="form-control" id="email" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input formControlName="clave" type="password" class="form-control" id="pwd" placeholder="Password" required> 
                </div>
                <div class="form-group">
                    <button [disabled]="!fgValidador.valid" type="submit" class="btn btn-primary">Aceptar</button>
                </div>
            </form>
        </div>
   
</div>
</body>

</html>
